@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Montserrat", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

/* - - - - - - - - - - Navbar - - - - - - - - - - */

.navbar {
  background-color: #006400;
  padding: 1rem;
}

.navbar .logo {
  width: 10rem;
  display: inline-block;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
}

.nav a {
  color: #fff;
  text-decoration: none
}

/* - - - - - - - - - - Main - - - - - - - - - - */

.hero {
  background-image: url('../img/hero-banner.jpg'); /* Image by Comfreak from Pixabay https://pixabay.com/illustrations/ship-shipwreck-adventure-setting-1366926/ */
  height: 90vh;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 35em;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  color: #006400;
  border: 2px solid #006400;
  border-radius: 5px;
  padding: 1rem;
}

.cards {
  padding: 4rem 0;
}

.cards .container {
  display: flex;
}

.card {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
}

.about {
  background-color: #002c00;
}

/* - - - - - - - - - - Footer - - - - - - - - - - */

.footer {
  background-color: #222;
  text-align: center;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer a {
  color: #006400;
}

.footer > .container {
  padding: 1rem;
}

.footer .logo {
  width: 8rem;
  display: inline-block;
}

.sub-footer {
  background-color: #1e1e1e;
  padding: 2rem;
}

@media only screen and (min-width: 38em) {

  /* - - - - - - - - - - Navbar - - - - - - - - - - */
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
  }

  /* - - - - - - - - - - Main - - - - - - - - - - */
  
  .about .container {
    display: flex;
    padding: 4rem;
  }

  .about .img-wrap {
    width: 33.3333%;
  }

  .about .about-content {
    width: 66.6666%;
  }
  
  /* - - - - - - - - - - Footer - - - - - - - - - - */

}